.looking-agency{
  .box{
    width:250px;
    height:35px;
    
    position: relative;
  }
  select{
    width:100%;
    height:100%;
    border:1px solid #dddddd;
    border-radius: 5px;
    outline: 0;
    -webkit-appearance: button;
    cursor: pointer;
    padding-left: 15px;
    font-size:14px;
  }
  i{
    position: absolute;
    top: 11px;
    right: 14px;
    color: #666;
    font-size: 12px;
  }
  select:required:invalid {
    color: #666;
    font-size: 14px;
    font-family: 'Open_Sans';
  }
  option {
    color: black;
    padding-top:10px;
    padding-bottom: 10px;
  }
}
#nhamoigioichitiet{
  .nhamoigioi__list--boxinner{
    overflow: hidden;
    margin:0;
  }
  .nhamoigioi__list--infor li p{
    margin:0;
    display: block;
  }
  .nhamoigioi__list--infor li{
    margin-top:6px;
  }
  .nhamoigioi__list--infor{
    width: calc(100% - 210px);
  }
  .nhamoigioi__list--img{
    border: 1px solid #ddd;
    width: 210px;
    height: 160px;
    img{
      width:100%;
      height:100%;
    }
  }
  .nhamoigioi__list--content{
    p{
      font-size:14px;
      color:#222;
    }
    ul{
      margin-left:25px;
    }
    h3,h5{
      color:#222222;
      font-size: 16px;
      font-weight: 600;
    }
    h5{
      font-size:14px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .submit{
    float:right;
    margin-top:0;
  }
  .moigioi{
    margin-top:30px;
  }
}