//phan chung dung di dung lai
$mau-vang:#ffe13f;
.table{
  display:table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
.general-section{
  h2{
    margin-top:0;
    margin-bottom:0;
    color:#000;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    height:40px;
    background-color: $mau-vang;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &__content{
    border:1px solid #eeeeee;
  }
}
.general-list{
}
.general-item{
  
  // padding-left: 16px;
  margin-bottom:10px;
  display: block;
  // &:before{
  //   content: "";
  //   width: 6px;
  //   height: 6px;
  //   display: inline-block;
  //   border: 1px solid $mau-vang;
  //   background-color:transparent;
  //   border-radius: 50%;
  //   position: absolute;
  //   left:0;
  //   top:7px;
  // }
  
  a{
    position: relative;
    padding-left: 16px;
    font-size: 13px;
    line-height: 23px;
    display: block;
    &:before{
      content: "";
      width: 6px;
      height: 6px;
      display: inline-block;
      border: 1px solid $mau-vang;
      background-color:transparent;
      border-radius: 50%;
      position: absolute;
      left:0;
      top:7px;
    }
    &:hover:before{
      background-color:$mau-vang;
    }
  }
  &.general-item--active a:before{
    background-color:$mau-vang;
  }
}
.btn1{
  background-color:$mau-vang;
  height:35px;
  line-height: 35px;
  color:#000;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 50%;
  border:0;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
}
.more-view{
  font-size: 14px;
  font-weight: 600;
  color:$mau-vang;
  i{
    color:#222222;
    margin-left: 12px;
  }
}
// ===========css for home_right===========
// ========================================
// end phan chung dung di dung lai
#home .home_content{
  margin:0 -15px;
}
#home .home_content:after{
  content:"";
  display: block;
  clear: both;
}
.home_r{
  width:23%;
  padding:0 15px;
}
//css for advs-company
.advs-company__item__img{
  width:180px;
  height:100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  a{
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    position: absolute;
  }
}
.advs-company__content{
  height:450px;
  overflow-y: scroll;
  text-align: center;
  position: relative;
}
.advs-company__item{
  padding-bottom: 10px;
  > a{
    display: block;
    padding-top:5px;
    padding-bottom: 5px;
  }
  &:first-child{
    margin-top:30px;
  }
}
// customScrollbar

.mCS-customByTuan.mCSB_inside > .mCSB_container{
  margin-right: 0;
}
.mCS-customByTuan{
  .mCSB_dragger{
    height: 120px !important;
    width: 14px;
    background-color: #eeeeee;
    .mCSB_dragger_bar{
      display: none;
    }
  }
  .mCSB_draggerRail{
    display: none;
  }
  .mCSB_draggerContainer{
    width:16px;
    border:1px solid #d0d0d0;
    border-radius: 3px;
  }
}
//css for advs-sidebar
.advs-sidebar{
  padding-top:20px;
  a{
    display: block;
    margin-bottom:25px;
  }
}
//css for utilities
.utilities{
  &__item{
    padding:15px 0 15px 22px;
    border-top:1px solid #eeeeee;
    &:first-child{
      border-top:none;
    }
    a{
      font-size: 14px;
      font-weight: 600;
      margin-left:10px;
      padding:10px;
    }
  }
}
//css for fb-fanpage
.fb-fanpage{
  height:220px;
  background-color:pink;
  margin-top:22px;
}
//css for faq
.faq{
  margin-top:22px;
  &__list{
    padding: 22px 10px 10px 14px;
  }
  form{
    color:#666;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    label{
      font-size: 11px;
    }
    textarea{
      resize: none;
      width: 100%;
      height: 91px;
      border-color: #eee;
      padding-top:10px;
      padding-left: 10px;
      &::placeholder{
        font-size:10px;
        color:#888888;
      }
    }
    #send-faq{
      color: #666;
      display: block;
      margin: 17px auto;
    }
  }
}
// ===========css for home_left===========
// ========================================
.home_l{
  width:77%;
  float:left;
  padding:0 15px;
}
.home_l__box1{
  // background-color: red;
  // height: 800px;
  margin: 0 -10px;
}
.home_l__box1:after{
  content:"";
  display: block;
  clear: both;
}
.search-tool{
  width:41%;
  padding:0 10px;
  float: left;
  // height: 500px;
  // background-color: pink;
}
.featured-news{
  width:59%;
  padding:0 10px;
  float:right;
  // background-color: green;
  &__desc{
    a{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index: 3;
    }
    li{
      position: relative;
    }
    p{
      position: absolute;
      margin-top: 0;
      margin-bottom: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      line-height: 20px;
      padding: 10px 70px 10px 20px;
      background-color: #0000008f;
      z-index: 2;
    }
  }
  &__list{
    margin-top:30px;
    height: 160px;
    overflow-y: scroll;
    li{
      border-top:1px solid #eee;
      display: block;
      width: calc(100% - 16px);
      padding:8px 0 8px 18px;
      margin-bottom:0;
      &:first-child{
        border-top:0;
      }
    }
    a{
      font-size: 12px;
      color:#222222;
      font-weight: 600;
    }
  }
  .mCS-customByTuan .mCSB_dragger{
    height:54px !important;
  }
}
.home_l__box2{
  margin:25px -15px 0 -15px;
}
.date{
  font-size:12px;
  color:#666666;
  i{
    margin-right:10px;
  }
}
.classified-ad{
  width:65%;
  float:left;
  padding:0 15px;
  font-size: 13px;
  line-height: 20px;
  &__caregory{
    &:after{
      content:"";
      display: block;
      clear: both;
    }
    a{
      display: block;
      float: left;
      width:33.33%;
      text-align: center;
      font-weight: 600;
      height:40px;
      line-height: 40px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #eee;
      &.classified-ad__caregory--active{
        background-color: transparent;
      }
  }}
  &__list{
    display: none;
    &--active{
      display: block;
    }
  }
  &__item{
    padding:12px;
    border-top:1px solid #eee;
    &__thumbnail{
      float:left;
      width: 29.2%;
    }
    &__infor{
      
      padding-left:16px;
      padding-right:10px;
      float:left;
      width:70.8%;
      h3{
        margin-top:0;
        margin-bottom:10px;
        a{
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
    &__detail{
      .table-cell:first-child{
        font-weight: 600;
      }
      .table-cell:last-child{
        color:#666666;
      }
    }
    .date{
      text-align: right;
    }
  }
  .wrap__more-view{
    text-align: right;
    margin-top:12px;
  }
}
.week-spot__list{
  width:35%;
  float:right;
  padding:0 15px;
  .week-spot__item__content{
    ul{
      padding:20px 7px;
    }
  }
}
.home_l__box3{
  a{
    display: block;
    img{
      width:100%;
    }
  }
}
.home_l__box4{
  margin-top:30px;
  &__nav{
    a{
      display: inline-block;
      font-size:16px;
      font-weight: 600;
      height:40px;
      line-height: 40px;
      padding-left: 30px;
      padding-right: 30px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      &.active{
        background-color: $mau-vang;
      }
    }
  }
  &__list{
    border:1px solid #eee;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__content{
    margin:0 -15px;
    display: none;
    &.home_l__box4__content--active{
      display: block;
    }
  }
  &__main{
    width:43%;
    float:left;
    padding:0 15px;
    
    .home_l__box4__item__thumbnail{
      width:370px;
      height:200px;
      overflow: hidden;
    }
    .home_l__box4__item__infor{
      padding-left: 10px;
      padding-right: 10px;
      h4{
        margin-bottom:10px;
        margin-top:10px;
      }
    }
  }
  &__sub{
    width:57%;
    float:left;
    padding:0 15px;
    
    .home_l__box4__item__thumbnail{
      width:170px;
      height:120px;
      overflow: hidden;
      float:left;
    }
    .home_l__box4__item__infor{
      float:right;
      width: calc(100% - 170px);
      padding-left: 30px;
    }
  }
  &__item{
    margin-bottom:20px;
  }
  &__item__thumbnail{
    a{
      display: block;
    }
    img{
      width:100%;
    }
  }
  &__item__infor{
    line-height: 22px;
    font-size: 14px;
      h4{
        margin:0;
      }
      a{
        color:#222222;
        font-weight: 600;
      }
      p{
        color:#666666;
        margin-top:0;
        margin-bottom:0;
      }
  }
  .wrap__more-view{
    text-align: right;
    padding-right:10px;
  }
}



