.doanhnghiep {
    &__box {
        &--top {
            // margin: 0 -15px;
            position: relative;
            margin-bottom: 25px;
        }
        &--topl {
            padding: 15px 25px;
            text-align: center;
            -webkit-border-top-left-radius: 10px;
            border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
            font-weight: 600;
            font-size: 16px;
            color: #222;
            position: relative;
            display: inline-block;
            p {
                margin: 0;
            }
        }
        &--topr {
            height: 2px;
            width: 100%;
            background: #eee;
            position: absolute;
            bottom: 0;
        }
        &--1 {
            margin: 0 -15px;
        }
        &--img {
            padding: 0 15px;
            width: 25%;
            float: left;
            height: 210px;
            a {
                display: block;
                border: 2px solid #eee;
                height: 210px;
            }
        }
    }
}