
mixin dn-content(title, urlimg1, srcimg1, altimg1, urlimg2, srcimg2, altimg2, urlimg3, srcimg3, altimg3, urlimg4, srcimg4, altimg4 )
  .doanhnghiep__box--top
      .doanhnghiep__box--topr
      .doanhnghiep__box--topl.bg-yellow
          p= title
  .doanhnghiep__box--center
      .doanhnghiep__box--1
          .doanhnghiep__box--img
              a(href= urlimg1)
                  img(src= srcimg1 alt= altimg1)
          .doanhnghiep__box--img
              a(href= urlimg2)
                  img(src= srcimg2 alt= altimg2)
          .doanhnghiep__box--img
              a(href= urlimg3)
                  img(src=srcimg3 alt= altimg3)
          .doanhnghiep__box--img
              a(href= urlimg4)
                  img(src=srcimg4 alt= altimg4)
          .clear-fix
