input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
    display: none;
}
#registration{
	margin: 100px auto 60px;
	width: 570px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px 2px #dcd0d0a3;
	.wrap-registration{
		padding: 50px;
		h3{
			text-align: center;
			margin: 0 0 25px;
			font-size: 18px;
			font-weight: bold;
		}
		.star-red{
			color: red;
		}
		.select-input input{
			margin: 0;
			float: right;
			height: 33px;
		    border: 1px solid #bdb7b7f5;
		    border-radius: 5px;
		    padding: 0 15px;
		    outline: none;
		    width: 50%;
		}

	// dang ky
		form > a, button{
			text-align: center;
			display: block;
			padding: 14px 0;
			width: 120px;
			background: #ffe13f;
			border-radius: 24px;
		    font-weight: 600;
		    font-size: 17px;
		    margin: 30px auto;
		    border: none;
		}
		.content-text-registration{
			font-size: 14px;
			font-weight: 400;
			color: #666666;
		}
		.code-comfirm input {
	    height: 33px;
	    padding: 0 10px;
	    width: 35%;
	    margin-left: 15px;
	    border: 1px solid #bdb7b7f5;
	    border-radius: 5px;
	    outline: none;
	    line-height: 33px;
	    &.captcha{
	    	text-align: center;
	    	font-size: 16px;
    		color: #888080;
	    }
		}
	}
}
.address{
	option{
		color: #666666;
		font-weight: 600;
		font-size: 14px;
	}
}
.set-height{
	margin-bottom: 15px;
	label{
		line-height: 33px;
		font-weight: 600;
		font-size: 16px;
		width: 100%;
		display: block;
	}
	.gioitinh-label{
		width: 50%;
		display: inline-block;
	}
	.sex-custom {
	    position: relative;
	    padding-left: 35px;
	    margin-bottom: 12px;
	    cursor: pointer;
	    user-select: none;
	    margin-right: 10px;
	    font-size: 14px;
	    width: 20%;
	    display: inline-block;
	}
}

/* Hide the browser's default radio button */
.sex-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 5;
    height: 30px;
    width: 75px;
    top: 0;
}

/* Create a custom radio button */
.checkmark{
    position: absolute;
    top: 7px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.sex-custom:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.sex-custom input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.sex-custom input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.sex-custom .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: white;
}
// select
.city, .district, .guild{
	width: 33.333%;
  	padding: 0 10px;
	box-sizing: border-box;
	select {
    border: 1px solid #bdb7b7f5;
    height: 30px;
    border-radius: 7px;
    outline: none;
    padding: 0 10px;
    width: 100%;
	}
}

// captcha
.code-comfirm{
	position: relative;
	label{
		font-size: 16px;
		font-weight: 600;
	}
	a{
		position: absolute;
		right: -15px;
		bottom: 10px;
	}
}