mixin formdangky()
	section#registration
		.wrap-registration
			form(id="form-registration" method="get" action="")
				h3 Đăng ký tài khoản
				.name-user.select-input.set-height
					label(for="user")
						span Tên đăng nhập (
						span.star-red *
						span )
						input(type="text" id="user" name="name_user" min="6" max="64" required)
						.clearfix
				.address-email.select-input.set-height
					label(for="email")
						span Địa chỉ email (
						span.star-red *
						span )
						input(type="email" id="email" name="address_email" min="6" max="30" required)
				.password.select-input.set-height
					label(for="password-input")
						span Mật khẩu (
						span.star-red *
						span )
						input(type="password" id="password-input" name="matkhau" min="6" max="64" required)
				.re-password.select-input.set-height
					label(for="re-password")
						span Nhập lại mật khẩu (
						span.star-red *
						span )
						input(type="password" id="re-password" name="re-matkhau" min="6" max="64" required)
				.fullname.select-input.set-height
					label(for="fullname")
						span Tên đầy đủ (
						span.star-red *
						span )
						input(type="text" id="fullname" name="tendaydu" required)
				.born.select-input.set-height
					label(for="born")
						span Ngày sinh (
						span.star-red *
						span )
						input(type="date" id="born" name="ngaysinh" required)
				.sex.set-height
					label.gioitinh-label.fleft(for="sex")
						span Giới tính (
						span.star-red *
						span )
					label.sex-custom(for="sex") Nam
						input(type="radio" id="sex" name="gioitinh" required)
						span.checkmark
					label.sex-custom(for="sex") Nữ
						input(type="radio" id="sex" name="gioitinh" required)
						span.checkmark
					.clearfix
				.address.set-height
					.city.fleft
						select
							option Tỉnh/Thành
							option Hà Nội
							option Hà Nội
							option Hà Nội
							option Hà Nội
					.district.fleft
						select
							option Quận/Huyện
							option Thạch Thất
							option Hoài Đức
							option Hoài Đức
							option Hoài Đức
					.guild.fleft
						select
							option Phường/Xã
							option Bình Phú
							option Ahihi
							option Ahihi
							option Ahihi
					.clearfix
				.sex.set-height
					label.gioitinh-label.fleft(for="sex") Đơn vị
					label.sex-custom(for="") Cá nhân
						input(type="radio" id="sex" name="donvi" required)
						span.checkmark
					label.sex-custom(for="") Công ty
						input(type="radio" id="sex" name="donvi" required)
						span.checkmark
					.clearfix
				.code-comfirm
					label(for="code-comfirm") Mã xác nhận
					input(id="code-comfirm" name="code-comfirm" type="text" required)
					input.captcha(id="code-comfirm" name="code-comfirm" type="text" value="Captcha")
					a(href="#"): img(src="images/k_captcha.png" alt="captcha")
				button(type="submit") Đăng ký
				.content-text-registration
					p
						span.star-red Chú ý
						span : Thông tin Tên đăng nhập, email, số điện thoại di động không thể thay đổi sau khi đăng ký.
					p Để được trợ giúp vui lòng liên hệ tổng đài CSKH 1900 1881 hoặc email hotro@viad.com.vn