/*********************
    - 2. General -
*********************/

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open_Sans';
    color: #222;
    font-size: 13px;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.list-inline,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}

.container {
    margin: 0px auto;
    max-width: 1170px;
}

.row {
    margin: 0 -15px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-20-percent {
    width: 20%;
}

[class^="col-"] {
    float: left;
    padding: 0 15px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear-fix,
.clearfix {
    clear: both;
}

.col-yellow,
{
    color: #ffe13f;
}

.bg-yellow {
    background: #ffe13f;
}

input,
button,
textarea {
    outline: none;
}

button {
    cursor: pointer;
}