@media screen and (max-width: 1680px) {

}
@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1170px) {
	//Khanh res
	#header{
		#contact-menu__header{
		    padding: 0 15px;
		}
		#name-image-company{
		    padding: 0 15px;
		  .col-2 p {
			  font-size: 12px;
			}
		}
		#menu__header{
			padding: 0 15px;
			.menu-level1{
				text-align: center;
				li{
					float: none;
					display: inline-block;
					margin: 0 -2px;
					padding: 0 14px;
					&.icon-home {
				    padding: 0 15px;
				  }
				}
			}
		}
	}
	#footer{
		#address__footer{
			margin: 0;
		}
		#support__footer .row{
			margin: 0;
		}
	}
	#login{
		.note-text{
			h4{
				padding: 0 15px;
			}
		}
	}
}
@media screen and (max-width: 1136px) {
	//khanh res
	#footer{
		#address__footer{
			.col-20-percent{
				padding-right: 10px;
			}
		}
		#menu__footer ul{
			text-align: center;
			 li{
			 	float: none;
			 	display: inline-block;
			 	a {
				  padding: 0 9px;
				}
			 }
		}
	}
	#header{
		#menu__header{
			.menu-level1{
				li{
					padding: 0 10px;
					&.icon-home {
					    padding: 0 15px;
				  }
				  a{
					  	font-size: 13px;
				  }
				}
			}
		}
	}
	#login{
		.send-email__reges .add-email input{
			width: 60%;
		}
	}
}
@media screen and (max-width: 1024px) {
	//khanh res
	#footer{
		#address__footer{
			.col-20-percent{
				padding-right: 1px;
			}
		}
		#menu__footer ul{
			width: 51%;
			margin: 0 auto;
			li{
				float: left;
				&.xuhuong__footer{
					clear: both;
				}
			}
		}
	}
	#header{
		#name-image-company{
			h2{ margin-top: 30px;}
		}
		#menu__header{
			 .menu-level1 li{
			 	padding: 0 7px;
			 	&.icon-home{
			 		padding: 0 20px;
			 	}
			 }
		}
	}
	#login{
		.send-email__reges .email__sendemail{
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 980px) {
	//khanh res
	#footer{
		#address__footer{
			.col-20-percent{
				width: 33.333%;
			}
			.col-20-percent:nth-child(4){
				clear: both;
			}
		}
		#menu__footer ul{
			width: 60%;
		}
	}
	#header{
		#name-image-company{
			padding-bottom: 50px;
		}
		#menu__header{
			position: absolute;
			// display: none;
			right: 22px;
			bottom: 2000px;
			padding: 0;
			transition: 0.5s;
			opacity: 0.5;
			z-index: 999;
			&.active-menu{
				bottom: -45px;
				opacity: 1;
			}
			.icon-dropdown:before, .icon-dropdown2:before{
				display: block;
			}
			.menu-level1{
				z-index: 100;
				width: 270px;
				li{
					padding: 0;
					display: block;
					border-bottom: 1px solid #e5c516;
				}
			}
			.menu-level2{
				top: 0px;
				left: -9999px;
				width: 255px;
				transition: 2s;
				z-index: 1000;
				overflow: hidden;
				&.active{
					left: -253px;
					transition: 0.5s;
				}
				li:hover{
					background: blue;
					& .menu-level2{
						display: none;
						transition: 0s;
					}
				}
				.menu-level2{
					position: unset;
					width: 255px;
					overflow: hidden;
					li{
						background: green;
					}
					&.active{
						transition: 0s;
					}
				}
			}
		}
		.menu-res-bars{
			display: block;
		}
	}
	#login{
		.email__sendemail{
		    line-height: 24px;
			padding-top: 20px;
			width: 40%;
		}
		.add-email{
			width: 60%;
		}
	}
}
@media screen and (max-width: 840px) {
	// Khanh res
	#footer{
			#menu__footer ul{
				width: 65%;
			}
			#support__footer{
				.col-3{
					padding: 0 10px;
					img{
						padding-right: 5px;
					}
					.mangxahoi img{
						padding-right: 0;
					}
				}
			}
		}
	#header{
		#name-image-company{
			.col-2{
				width: 100%;
				margin-bottom: 15px;
				h2{
					margin-top: 20px;
				}
			}
			.col-10{
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	// Khanh res
	#header{
		.price-contact li{
			margin-left: 20px;
		}
		#menu__header{
			.menu-level2 .menu-level2{
				position: static;
				display: none;
				transition: 0s;
				// &.active{
				// 	display: block;
				// 	margin-left: 2px;
				// }
				li:hover{
					background: blue;
				}
			}
		}
	}	
	#footer{
		#menu__footer ul{
			width: 75%;
		}
		#support__footer{
			.col-3{
				width: 50%;
				text-align: center;
			}
		}
	}
	#login{
		.email__sendemail, .add-email{
			width: 100%;
			text-align: center;
		}
	}
}
@media screen and (max-width:667px) {
	// Khanh res
	#footer{
		#address__footer .col-20-percent {
	    padding: 0 15px;
	    h3{font-size: 14px;}
	}
		#menu__footer ul{
			width: 80%;
		}
		#license{
			padding-bottom: 70px;
			img{
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	#header{
		.social-network, .price-contact {
			width: 100%;
			text-align: center;
		}
	}
}
@media screen and (max-width:640px) {
	// Khanh res
	#footer{
		#address__footer{ text-align: center;}
		#menu__footer ul{
			width: 90%;
		}
	}
	#registration{
		width: 540px;
		.wrap-registration{
			padding: 50px 40px;
		}
	}
	#login{
		#wrap-login{
			width: 500px;
			.content-login{
				padding: 0 50px;
			}
		}
	}
}
@media screen and (max-width:568px) {
	//Khanh res
	#footer{
		#menu__footer ul{
			width: 100%;
			li a{
				padding: 0 7px;
			}
		}
	}
	#header{
		 #menu__header{
		 	.menu-level1{
		 		li{
		 			transition:0s;
		 		}
			 	.menu-level2{
			 	 	position: unset;
			 	 	transition:0s;
			 	 	overflow: hidden;
			 	 	width: 275px;
			 	 	&.active{
			 	 		transition:0s;
	    				margin-left: 1px;
			 	 		display: none;
			 	 	}
			 	 	.menu-level2{
			 	 		position: unset;
			 	 		width: 276px;
			 	 		overflow: hidden;
			 	 		// &:hover{
			 	 		// 	display: unset;
			 	 		// }
			 	 		// &.active{
			 	 		// 	display: none;
			 	 		// }
			 	 		li{
			 	 			background: #fff;
			 	 			width: 100%;
			 	 			&:hover{
			 	 				display: unset;
			 	 			}
			 	 		}
			 	 	}
			 	}
		 	}
		 }
	}
	#registration{
		width: 460px;
		.wrap-registration{
			padding: 50px 20px;
			.set-height{
				label{
					font-size: 14px;
				}
				.sex-custom{
					font-size: 13px;
				}
			}
		}
		.code-comfirm{
			label{
				font-size: 14px;
			}
		}
		.set-height{
			.gioitinh-label{
				width: 40%;
			}
			.sex-custom{
				width: 26%;
			}
		}
	}
	#login{
		#wrap-login{
			width: 390px;
			.content-login{
				padding: 0 20px;
			}
		}
	}
}
@media screen and (max-width:480px) {
	//Khanh res
	#footer{
		#address__footer{ text-align: left;}
		#address__footer .col-20-percent {
		  width: 50%;
		  padding: 0 15px;
		}
		#menu__footer{
			padding: 15px 0;
			ul{
				width: 280px;
				li a{
					padding: 0 7px;
				}
		}
		}
	}
	#header{
		.price-contact {
			li{
				padding: 0 5px;
				margin: 0;
			}
		}
	}
	#registration {
	    width: 390px;
	    .wrap-registration{
	    	.gioitinh-label{
		    	width: 40%;
		    }
		    .code-comfirm {
		    	input{
			    	width: 30%;
			    }
			    a{
			    	right: -10px;
			    }
		    }
	    }
	}
}
@media screen and (max-width:414px) {
	//Khanh res
	#footer{
		#address__footer .col-20-percent {
		  width: 100%;
		  padding: 0 15px;
		}
		#support__footer{
			.col-3{
				width: 100%;
				padding: 0 15px;
				text-align: left;
			}
		}
	}
	#header{
		.price-contact {
			ul{
				width: 280px;
				margin: 0 auto;
			}
			li{
				padding: 0 10px;
			}
		}
	}
	#registration {
	    width: 290px;
	    text-align: center;
	    .wrap-registration{
	    	.select-input input{
	    		width: 100%;
	    		display: block;
	    		float: none;
	    	}
		    .code-comfirm{
		    	text-align: center;
		    	label{ margin-bottom: 15px; }
		    	input{
		    		width: 80%;
		    		display: block;
		    		margin-bottom: 30px;
		    	}
		    	a{
		    		right: 0;
		    	}
		    }
			.set-height{
				.gioitinh-label{
					width: 100%;
				}
				.sex-custom{
					width: 45%;
				}
		}
	    }
	    .city, .district, .guild{
	    	width: 100%;
	    	margin-bottom: 30px;
	    }
	}
	#login{
		#wrap-login{
			width: 280px;
			text-align: center;
			input{
				float: none;
				width: 100%;
			}
			.password__login{
				label{
					width: 100%;
				}
			}
			.user__login{
				label{
					display: inline-block;
				}
			}
			.login-fb-gmail{
				.fb, .gmail{
					width: 100%;
					float: none;
					margin: 0 0 10px 0;
				}
			}
		}
		.remember-password{
			.remember, .forget-password{
				width: 100%;
				margin-bottom: 5px;
    			padding: 0;
    			span{
    				left: 30px;
    			}
    			.choose{
    				left: 34px;
    			}
			}
		}
		.no-account{
			font-size: 13px;
		}
	}
}
@media screen and (max-width:360px) {
	//Khanh res
}
@media screen and (max-width:320px) {

}