.doanhnghiep {
    &__content {
        margin: 0 -15px;
        &--left {
            width: 70%;
            padding: 0 15px;
            float: left;
            >p {
                font-weight: 600;
                font-size: 16px;
                color: #222;
                margin: 0;
                padding-top: 30px;
                padding-left: 15px;
                padding-bottom: 25px;
            }
        }
        &--right {
            width: 30%;
            float: left;
            padding: 0 15px;
        }
    }
}