.pagenone {
    display: none;
}

.nhamoigioi {
    &__content {
        margin: 0 -15px;
        &--left {
            width: 70%;
            float: left;
            padding: 0 15px;
        }
        &--right {
            width: 30%;
            float: left;
            padding: 0 15px;
        }
        &--title {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
    &__list {
        &--box {
            border: 1px solid #eee;
            padding: 20px;
        }
        &--title {
            button {
                outline: transparent;
                border: 1px solid #ffe13f;
                border-radius: 10px;
                color: #222;
                font-size: 14px;
                font-weight: 400;
                background: #fff;
                padding: 10px 20px;
            }
        }
        &--boxinner {
            margin: 0 -10px;
        }
        &--img {
            width: 20%;
            float: left;
            padding: 0 10px;
            a {
                display: block;
                border: 1px solid #eee;
            }
        }
        &--infor {
            width: 42%;
            padding: 0 10px;
            float: left;
            h3 {
                margin: 0;
                margin-top: 10px;
                font-weight: 600;
                font-size: 14px;
                color: #222;
                margin-bottom: 10px;
            }
            li {
                margin-top: 10px;
                font-size: 13px;
                color: #222;
                span {
                    padding-left: 10px;
                }
                p {
                    display: flex;
                }
                i {
                    color: #666;
                }
            }
        }
        &--corn {
            width: 38%;
            padding: 0 10px;
            float: left;
            padding-left: 75px;
            h3 {
                margin: 0;
                margin-top: 10px;
                font-weight: 600;
                font-size: 14px;
                color: #222;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            .dots {
                width: 5px;
                height: 5px;
                border: 1px solid #ffe13f;
                border-radius: 50%;
                transition: all 0.3s linear;
                margin-top: 5px;
            }
            span {
                font-size: 13px;
                font-weight: 400;
                color: #222;
                padding-left: 10px;
            }
            a {
                display: flex;
                &:hover .dots {
                    background: #ffe13f;
                }
            }
            li {
                margin-top: 10px;
            }
        }
    }
    .pagenone {
        margin-top: 20px;
    }
    .submit {
        margin-top: 20px;
        a {
            color: #222;
            font-weight: 600;
            font-size: 13px;
            padding: 10px 25px;
            display: inline-block;
            border: 1px solid #ffe13f;
            border-radius: 10px;
            margin-right: 15px;
        }
    }
    &__load {
        margin-top: 20px;
        float: right;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
        li {
            float: left;
            border: 1px solid #eee;
            border-right: none;
            a {
                font-size: 16px;
                color: #666;
                padding: 5px 10px;
                display: block;
            }
            &:last-child {
                border-right: 1px solid #eee;
            }
        }
    }
}