extends _layouts/layout
block content
	section#login
		#wrap-login
			.content-login
				form(action="" method="" id="form-login")
					h2 Đăng nhập
					.user__login
						label(for="tentaikhoan") Tên tài khoản
							input(type="text" id="tentaikhoan" name="taikhoan" required)
					.password__login
						label(for="password") Mật khẩu
							input(type="password" id="password" name="matkhau" required)
						img(src="images/k_eye.png" alt="eye")
					button(type="submit") Đăng nhập
					.remember-password
						label.remember.fleft Nhớ tài khoản
							input(type="checkbox" checked)
							span
							span.choose
						label.forget-password.fright Quên mật khẩu
						.clearfix
					p Hoặc
					.login-fb-gmail
						a(href="#").fb Đăng nhập bằng facebook
						a(href="#").gmail Đăng nhập bằng gmail
			.no-account
				p
					span Bạn chưa có tài khoản?
					span.reges-account: a(href="dang-ky.html")  Đăng ký tài khoản
		.note-text
			.container
				p Nếu gặp bất kỳ khó khăn gì trong việc đăng ký, đăng nhập, đăng tin hay trong việc sử dụng website nói chung. Quý vị hãy liên hệ ngay với chúng tôi theo tổng đài CSKH: 1900 1881 hoặc email: hotro@batdongsan.com.vn để được trợ giúp.
				h4 Cho thuê quảng cáo trên viad.com.vn
				.wrap-text__note
					p viad.com.vn là trang trung gian có hơn 2.000.000 tin gồm cho thuê quảng cáo tại Việt Nam. Chúng tôi liệt kê danh sách nhiều thông tin quảng cáo phục vụ mọi nhu cầu như mặt bằng quảng cáo internet và truyền thông quảng cáo.
				.send-email__reges
					.email__sendemail.fleft
						img(src="images/k_gmail.png")
						span Đăng ký ngay để nhận bản tin điện tử từ  www.viad.com
					.add-email.fleft
						input(type="email" id="add-email" name="nhap-email" placeholder="Nhập email")
						button(type="submit") Đăng ký
					.clearfix
