extends _layouts/layout
block content
	section#doanhnghiep.doanhnghiep
		.container
			.doanhnghiep__content
				.doanhnghiep__inner
					.doanhnghiep__content--left
						p Các doanh nghiệp, công ty quảng cáo hàng đầu tại Việt Nam
						.doanhnghiep__box
								+dn-content("Chủ đầu tư","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","")
						.doanhnghiep__box  
								+dn-content("Thi công xây dựng","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","")
						.doanhnghiep__box
								+dn-content("Tư vấn thiết kế","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","")
						.doanhnghiep__box
								+dn-content("Tư vấn thiết kế","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","")
						.doanhnghiep__box
								+dn-content("Các lĩnh vực khác","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","","#","images/doanhnghiep_1.png","","#","images/doanhnghiep_2.png","")
					.doanhnghiep__content--right
						+doanhnghiep-right()
					.clear-fix