extends _layouts/layout
block content
	section#nhamoigioi.nhamoigioi
		.container
			.nhamoigioi__content
				.nhamoigioi__content--left
					.nhamoigioi__content--title.doanhnghiep__box--top
						.doanhnghiep__box--topr
						.doanhnghiep__box--topl.bg-yellow
							p Danh bạ nhà môi giới
					.nhamoigioi__list
						.nhamoigioi__list--title
							button#Open( onclick="openPage('page1')" ) Công ty môi giới
							button( onclick="openPage('page2')" ) Công ty môi giới
							#page1.pagenone 
								.nhamoigioi__list--box
									.nhamoigioi__list--boxinner
										.nhamoigioi__list--img
											a(href="#")
												img(src="images/doanhnghiep_2.png" alt="")
										.nhamoigioi__list--infor
											h3 Công ty TNHH BDS Nam Linh Land
											ul
												li
													p 
														span.dots
															i.fa.fa-map-marker
														span F1/8C3, Vĩnh Lộc A, Bình Chánh, Hồ Chí Minh, Việt Nam
												li
													p 
														span.dots
															i.fa.fa-phone
														span 09612415242
												li
													p 
														span.dots
															i.fa.fa-mobile-alt
														span 124566898653
											.submit
												a(href="#") Gửi Email
										.nhamoigioi__list--corn
											h3 Khu vực công ty môi giới 
											ul
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
										.clear-fix
								.nhamoigioi__list--box
									.nhamoigioi__list--boxinner
										.nhamoigioi__list--img
											a(href="#")
												img(src="images/doanhnghiep_2.png" alt="")
										.nhamoigioi__list--infor
											h3 Công ty TNHH BDS Nam Linh Land
											ul
												li
													p 
														span.dots
															i.fa.fa-map-marker
														span F1/8C3, Vĩnh Lộc A, Bình Chánh, Hồ Chí Minh, Việt Nam
												li
													p 
														span.dots
															i.fa.fa-phone
														span 09612415242
												li
													p 
														span.dots
															i.fa.fa-mobile-alt
														span 124566898653
											.submit
												a(href="#") Gửi Email
												a(href="#") Danh sách rao tin
										.nhamoigioi__list--corn
											h3 Khu vực công ty môi giới 
											ul
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
										.clear-fix
								.nhamoigioi__list--box
									.nhamoigioi__list--boxinner
										.nhamoigioi__list--img
											a(href="#")
												img(src="images/doanhnghiep_2.png" alt="")
										.nhamoigioi__list--infor
											h3 Công ty TNHH BDS Nam Linh Land
											ul
												li
													p 
														span.dots
															i.fa.fa-map-marker
														span F1/8C3, Vĩnh Lộc A, Bình Chánh, Hồ Chí Minh, Việt Nam
												li
													p 
														span.dots
															i.fa.fa-phone
														span 09612415242
												li
													p 
														span.dots
															i.fa.fa-mobile-alt
														span 124566898653
											.submit
												a(href="#") Gửi Email
										.nhamoigioi__list--corn
											h3 Khu vực công ty môi giới 
											ul
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
										.clear-fix
								.nhamoigioi__list--box
									.nhamoigioi__list--boxinner
										.nhamoigioi__list--img
											a(href="#")
												img(src="images/doanhnghiep_2.png" alt="")
										.nhamoigioi__list--infor
											h3 Công ty TNHH BDS Nam Linh Land
											ul
												li
													p 
														span.dots
															i.fa.fa-map-marker
														span F1/8C3, Vĩnh Lộc A, Bình Chánh, Hồ Chí Minh, Việt Nam
												li
													p 
														span.dots
															i.fa.fa-phone
														span 09612415242
												li
													p 
														span.dots
															i.fa.fa-mobile-alt
														span 124566898653
											.submit
												a(href="#") Gửi Email
												a(href="#") Danh sách rao tin
										.nhamoigioi__list--corn
											h3 Khu vực công ty môi giới 
											ul
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
												li
													a(href="#") 
														.dots
														span Bán đất nền dự án ở Bình Chánh, Hồ Chí Minh
										.clear-fix
								.nhamoigioi__load
									ul
										li
											a(href="#") 1
										li
											a(href="#") 2
										li
											a(href="#") 3
										li
											a(href="#") ...
										li
											a(href="#") >>
							#page2.pagenone bscnbcdc
				.nhamoigioi__content--right
					+doanhnghiep-right()
				.clear-fix