extends _layouts/layout
block content
	section#nhamoigioichitiet.nhamoigioi
		.container
			.looking-agency
				form(action="" method="post" name="form-looking-agency")
					label Tìm kiếm mỗi giới
					input(type="text" placeholder="Nhập từ khóa tìm kiếm")
					.box
						select(required)
							option(value="") Loại giao dịch
							option(value="Nhà đất bán") Nhà đất bán
							option(value="Nhà đất cho thuê") Nhà đất cho thuê
						i.fas.fa-angle-down
					.box
						select(required)
							option(value="") Loại quảng cáo
							option(value="Quảng cáo A") Quảng cáo A
							option(value="Quảng cáo B") Quảng cáo B
						i.fas.fa-angle-down
					.box
						select(required)
							option(value="") Tỉnh/Thành Phố
							option(value="Ninh Bình") Ninh Bình
							option(value="Hà Nội") Hà Nội
						i.fas.fa-angle-down
					.box
						select(required)
							option(value="") Quận Huyện
							option(value="Gia Viễn") Gia Viễn
							option(value="Nam Từ Liêm") Nam Từ Liêm
						i.fas.fa-angle-down
			.nhamoigioi__content
				.nhamoigioi__content--left
					.nhamoigioi__content--title.doanhnghiep__box--top
						.doanhnghiep__box--topr
						.doanhnghiep__box--topl.bg-yellow
							p Danh bạ nhà môi giới
					.nhamoigioi__list
						.nhamoigioi__list--title
							button#Open( onclick="openPage('page1')" ) Công ty môi giới
							button( onclick="openPage('page2')" ) Công ty môi giới
						.nhamoigioi__list--content
							.nhamoigioi__list--box
								.nhamoigioi__list--boxinner
									.nhamoigioi__list--img
										img(src="images/doanhnghiep_2.png" alt="tuan")
									.nhamoigioi__list--infor
										h3 Công ty TNHH BDS Nam Linh Land
										ul
											li
												p
													i.fas.fa-map-marker-alt
													span F1/8C3, Vĩnh Lộc A, Bình Chánh, Hồ Chí Minh, Việt Nam
											li
												p
													i.fa.fa-phone
													span 09612415242
											li
												p
													i.fa.fa-mobile-alt
													span 124566898653
											li
												p
													i.fas.fa-envelope
													span dinhthanhtuanaz@gmail.com
											li
												p
													i.fas.fa-globe-asia
													span Đang cập nhật
													span.submit: a(href="#") Gửi Email
							h3 Giới thiệu
							.nhamoigioi__list--box.nhamoigioi__list--main
								h5 Lĩnh vực công ty môi giới
								p Công ty TNHH BDS Nam Linh Land môi giới ở những khu vực sau:
								ul
									li.general-item
										a(href="#") Bán đất nền dự án ở Bình Chánh, HồChí Minh
									li.general-item
										a(href="#") Bán nhà mặt phố ở Bình Chánh, HồChí Minh
								h5 Về chúng tôi
								p Công ty TNHH BDS Nam Linh Land được thành lập ngày 11/04/2018. Công ty do Ông Nguyễn Thành Linh sáng lập, quy mô công ty hiện có 15 thành viên. Công ty kinh doanh chủ yếu bên lĩnh vực bất động sản (mua, bán đất và nhà ở).Công ty mong muốn đưa những sản phẩm giá tốt đến cho người tiêu dùng, để người tiêu dùng tiếp cận đến sản phẩm được nhanh và đạt được giá tốt.
								p Lĩnh vực hoạt động: Bất động sản <br/> Khu vực môi giới tốt nhất hiện nay (cụ thể đến cấp Quận/ Huyện) Vĩnh Lộc, Bình Chánh, TP.Hồ Chí Minh <br/> Loại BDS môi giới chủ yếu: Đất Nền Dự Án, Nhà Phố
								p Liên hệ <br/> Công ty TNHH BDS Nam Linh Land <br/> Địa chỉ: F1/8C3 Đường Vĩnh Lộc A – Bình Chánh – Hồ Chí Minh <br/> Văn phòng giao dịch: F1/8C3 Đường Vĩnh Lộc A – Bình Chánh – Hồ Chí Minh <br/> Điện thoại: 0963145262
						//- end nhamoigioi__list--content
					//- end nhamoigioi__list
					.moigioi
						.doanhnghiep__box
							.doanhnghiep__box--top
								.doanhnghiep__box--topr
								.doanhnghiep__box--topl.bg-yellow
									p Các nhà môi giới khác
							.doanhnghiep__box--center
								.doanhnghiep__box--1
									.doanhnghiep__box--img
										a(href="#"): img(src="images/doanhnghiep_1.png" title="tuan")
									.doanhnghiep__box--img
										a(href="#"): img(src="images/doanhnghiep_2.png" title="tuan")
									.doanhnghiep__box--img
										a(href="#"): img(src="images/doanhnghiep_1.png" title="tuan")
									.doanhnghiep__box--img
										a(href="#"): img(src="images/doanhnghiep_2.png" title="tuan")
				.nhamoigioi__content--right
					+doanhnghiep-right()
				.clear-fix