extends _layouts/layout
block content
  main#home
    .container
      .home_content
        .home_l.fleft
          .home_l__box1
            .search-tool
            //- end search-tool
            .featured-news
              ul.featured-news__desc.list-inline
                li
                  a(href="#")
                  img(src="images/t_featured-new__desc.png" alt="viad")
                  p Đăng ký chuyển mục đích sử dụng đất: Dân lo "cò đất" giành hết suất
              ul.featured-news__list.general-section__content.general-list.list-inline
                li.general-item.general-item--active
                  a(href="#" title="Đăng ký chuyển mục đích sử dụng đất: Dân lo cò đất giành hết suất") Đăng ký chuyển mục đích sử dụng đất: Dân lo "cò đất" giành hết suất
                li.general-item
                  a(href="#" title="Giá đất khu dân cư Bắc Rạch Chiếc sụt giảm sau yêu cầu thanh tra") Giá đất khu dân cư Bắc Rạch Chiếc sụt giảm sau yêu cầu thanh tra
                li.general-item
                  a(href="#" title="Tp.HCM: Tại sao đất nền bỗng dưng quay đầu giảm giá?") Tp.HCM: Tại sao đất nền bỗng dưng quay đầu giảm giá?
                li.general-item
                  a(href="#" title="Lãi suất tín dụng cho đầu tư bất động sản đang quá cao") Lãi suất tín dụng cho đầu tư bất động sản đang quá cao
                li.general-item
                  a(href="#" title="Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm") Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm
                li.general-item
                  a(href="#" title="Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm") Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm
                li.general-item
                  a(href="#" title="Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm") Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm
                li.general-item
                  a(href="#" title="Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm") Quảng cáo tại Đồng Nai hết sốt nhưng vẫn “nóng” sai phạm
              //- end featured-news__list
            //- end featured-news
          //- end home_l__box1
          .home_l__box3
            a(href="#" title=""): img(src="images/t_advs-2.jpg" alt="viad")
          //- end home_l__box3
          .home_l__box2
            .classified-ad.general-section
              h2 Tin rao dành cho bạn
              .classified-ad__content.general-section__content
                .classified-ad__caregory
                  a#btn-advs-space.classified-ad__caregory--active(href="#" title="Mặt bằng quảng cáo") Mặt bằng quảng cáo
                  a#btn-advs-internet(href="#" title="Quảng cáo internet") Quảng cáo internet
                  a#btn-advs-traditional(href="#" title="Quảng cáo truyền thông") Quảng cáo truyền thông
                #advs-space.classified-ad__list.classified-ad__list--active
                  -for(i=0; i<6; i++)
                    .classified-ad__item
                      .classified-ad__item__thumbnail
                        a(href="#" title=""): img(src="images/t_classified-ad-item1.png" alt="viad")
                      .classified-ad__item__infor
                        h3: a(href="#" title="") Mặt bằng tại số 69 Phố Nhổn, đẹp mê ly Mặt bằng
                        .classified-ad__item__detail.table
                          .table-row
                            .table-cell Vị trí địa lý
                            .table-cell : Số 69 Phố Nhổn Bắc Từ Liêm
                          .table-row
                            .table-cell Kích thước
                            .table-cell : 69m vuông - 169m vuông
                          .table-row
                            .table-cell Loại mặt bằng
                            .table-cell : Mặt đường
                          .table-row
                            .table-cell Giá
                            .table-cell : 69.000.000 VNĐ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2018
                    //- end classified-ad__item
                    .clearfix
                //- #advs-space.classified-ad__list
                #advs-internet.classified-ad__list
                  -for(i=0; i<6; i++)
                    .classified-ad__item
                      .classified-ad__item__thumbnail
                        a(href="#" title=""): img(src="images/t_classified-ad-item1.png" alt="viad")
                      .classified-ad__item__infor
                        h3: a(href="#" title="") Mặt bằng tại số 69 Phố Nhổn, đẹp mê ly QC Internet
                        .classified-ad__item__detail.table
                          .table-row
                            .table-cell Vị trí địa lý
                            .table-cell : Số 69 Phố Nhổn Bắc Từ Liêm
                          .table-row
                            .table-cell Kích thước
                            .table-cell : 69m vuông - 169m vuông
                          .table-row
                            .table-cell Loại mặt bằng
                            .table-cell : Mặt đường
                          .table-row
                            .table-cell Giá
                            .table-cell : 69.000.000 VNĐ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2018
                    //- end classified-ad__item
                    .clearfix
                //- #advs-internet.classified-ad__list
                #advs-traditional.classified-ad__list
                  -for(i=0; i<6; i++)
                    .classified-ad__item
                      .classified-ad__item__thumbnail
                        a(href="#" title=""): img(src="images/t_classified-ad-item1.png" alt="viad")
                      .classified-ad__item__infor
                        h3: a(href="#" title="") Mặt bằng tại số 69 Phố Nhổn, đẹp mê ly truyền thống
                        .classified-ad__item__detail.table
                          .table-row
                            .table-cell Vị trí địa lý
                            .table-cell : Số 69 Phố Nhổn Bắc Từ Liêm
                          .table-row
                            .table-cell Kích thước
                            .table-cell : 69m vuông - 169m vuông
                          .table-row
                            .table-cell Loại mặt bằng
                            .table-cell : Mặt đường
                          .table-row
                            .table-cell Giá
                            .table-cell : 69.000.000 VNĐ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2018
                    //- end classified-ad__item
                    .clearfix
                //- #advs-traditional.classified-ad__list
              .wrap__more-view
                a.more-view(href="#")
                  |Xem thêm
                  i.fas.fa-angle-double-right
            //- end classified-ad
            .week-spot__list
              .week-spot__item.general-section
                h2 Tiêu điểm tuần qua
                .week-spot__item__content.general-section__content
                  ul.general-list.list-inline
                    li.general-item
                      a(href="#") Xu hướng lên sàn của các doanh nghiệp quảng cáo
                    li.general-item
                      a(href="#") Lật tẩy 5 mánh lừa tinh vi của “cò” đất năm 2018
                    li.general-item
                      a(href="#") Mua nhà ở xã hội bị ép phải mua cả
                    li.general-item
                      a(href="#") Giao dịch nhà đất Nhơn Trạch giảm nhiệt hơn trước
                    li.general-item
                      a(href="#") Tp.HCM sắp có cầu Cần Giờ thay thế phà Bình Khánh
                    li.general-item
                      a(href="#") Bất động sản khu công nghiệp Việt Nam: diện mạo riêng của từng miền
              //- end week-spot__item
              .week-spot__item.general-section
                h2 Tiêu điểm tuần qua
                .week-spot__item__content.general-section__content
                  ul.general-list.list-inline
                    li.general-item
                      a(href="#") Xu hướng lên sàn của các doanh nghiệp quảng cáo
                    li.general-item
                      a(href="#") Lật tẩy 5 mánh lừa tinh vi của “cò” đất năm 2018
                    li.general-item
                      a(href="#") Mua nhà ở xã hội bị ép phải mua cả
                    li.general-item
                      a(href="#") Giao dịch nhà đất Nhơn Trạch giảm nhiệt hơn trước
                    li.general-item
                      a(href="#") Tp.HCM sắp có cầu Cần Giờ thay thế phà Bình Khánh
                    li.general-item
                      a(href="#") Bất động sản khu công nghiệp Việt Nam: diện mạo riêng của từng miền
              //- end week-spot__item
              .week-spot__item.general-section
                h2 Tiêu điểm tuần qua
                .week-spot__item__content.general-section__content
                  ul.general-list.list-inline
                    li.general-item
                      a(href="#") Xu hướng lên sàn của các doanh nghiệp quảng cáo
                    li.general-item
                      a(href="#") Lật tẩy 5 mánh lừa tinh vi của “cò” đất năm 2018
                    li.general-item
                      a(href="#") Mua nhà ở xã hội bị ép phải mua cả
                    li.general-item
                      a(href="#") Giao dịch nhà đất Nhơn Trạch giảm nhiệt hơn trước
                    li.general-item
                      a(href="#") Tp.HCM sắp có cầu Cần Giờ thay thế phà Bình Khánh
                    li.general-item
                      a(href="#") Bất động sản khu công nghiệp Việt Nam: diện mạo riêng của từng miền
              //- end week-spot__item
            //- end week-spot
            .clearfix
          //- end home_l__box2
          .home_l__box3
            a(href="#" title=""): img(src="images/t_advs-2.jpg" alt="viad")
          //- end home_l__box3
          .home_l__box4
            .home_l__box4__nav
              a#btn-highlights.active(href="") Bài viết nổi bật
              a#btn-news(href="") Tin tức
              a#btn-market(href="") Thị trường
              a#btn-tendency(href="") Xu hướng
              a#btn-knowlegde(href="") Kiến thức
            //- end home_l__box4__nav
            .home_l__box4__list
              #highlights-post.home_l__box4__content.home_l__box4__content--active
                .home_l__box4__main
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-1.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Ngôi nhà 23m2 nằm trên cây lấy ý tưởng thiết kế từ tổ chim Bài Viết Nổi Bật
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Ngôi nhà trên cây nằm giữa khu rừng ở thành phố Raray (Pháp) cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ. Cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ ...
                    .clearfix
                //- end home_l__box4__main
                .home_l__box4__sub
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Ngôi nhà di động tiện nghi cải tạo từ xe buýt cũ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Sau khi mua được chiếc xe buýt GMC 1966 trên eBay, Jessie (người Mỹ) đã dành tất cả 3 năm...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Nam sinh viên tự tay trang trí căn hộ 18m2 ngăn nắp và tiện nghi
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Căn hộ 18m2 dưới đây là chốn đi về lý tưởng mà bạn trẻ nào cũng mơ ước. Chủ nhân căn hộ trẻ đã...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Hiên nhà thêm ngọt ngào, lãng mạn nhờ chiếc xích đu xinh xắn
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Xích đu không chỉ giúp không gian sân vườn hay hiên nhà thêm lãng mạn mà còn giúp mọi người...
                    .clearfix
                  //- end home_l__box4__item
                //- end home_l__box4__sub
                .clearfix
              //- end home_l__box4__content
              #news.home_l__box4__content
                .home_l__box4__main
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-1.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Ngôi nhà 23m2 nằm trên cây lấy ý tưởng thiết kế từ tổ chim Tin tức
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Ngôi nhà trên cây nằm giữa khu rừng ở thành phố Raray (Pháp) cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ. Cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ ...
                    .clearfix
                //- end home_l__box4__main
                .home_l__box4__sub
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Ngôi nhà di động tiện nghi cải tạo từ xe buýt cũ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Sau khi mua được chiếc xe buýt GMC 1966 trên eBay, Jessie (người Mỹ) đã dành tất cả 3 năm...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Nam sinh viên tự tay trang trí căn hộ 18m2 ngăn nắp và tiện nghi
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Căn hộ 18m2 dưới đây là chốn đi về lý tưởng mà bạn trẻ nào cũng mơ ước. Chủ nhân căn hộ trẻ đã...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Hiên nhà thêm ngọt ngào, lãng mạn nhờ chiếc xích đu xinh xắn
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Xích đu không chỉ giúp không gian sân vườn hay hiên nhà thêm lãng mạn mà còn giúp mọi người...
                    .clearfix
                  //- end home_l__box4__item
                //- end home_l__box4__sub
                .clearfix
              //- end home_l__box4__content
              #market.home_l__box4__content
                .home_l__box4__main
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-1.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Thị trường Ngôi nhà 23m2 nằm trên cây lấy ý tưởng thiết kế từ tổ chim
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Ngôi nhà trên cây nằm giữa khu rừng ở thành phố Raray (Pháp) cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ. Cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ ...
                    .clearfix
                //- end home_l__box4__main
                .home_l__box4__sub
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Ngôi nhà di động tiện nghi cải tạo từ xe buýt cũ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Sau khi mua được chiếc xe buýt GMC 1966 trên eBay, Jessie (người Mỹ) đã dành tất cả 3 năm...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Nam sinh viên tự tay trang trí căn hộ 18m2 ngăn nắp và tiện nghi
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Căn hộ 18m2 dưới đây là chốn đi về lý tưởng mà bạn trẻ nào cũng mơ ước. Chủ nhân căn hộ trẻ đã...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Hiên nhà thêm ngọt ngào, lãng mạn nhờ chiếc xích đu xinh xắn
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Xích đu không chỉ giúp không gian sân vườn hay hiên nhà thêm lãng mạn mà còn giúp mọi người...
                    .clearfix
                  //- end home_l__box4__item
                //- end home_l__box4__sub
                .clearfix
              //- end home_l__box4__content
              #tendency.home_l__box4__content
                .home_l__box4__main
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-1.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Xu hướng Ngôi nhà 23m2 nằm trên cây lấy ý tưởng thiết kế từ tổ chim
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Ngôi nhà trên cây nằm giữa khu rừng ở thành phố Raray (Pháp) cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ. Cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ ...
                    .clearfix
                //- end home_l__box4__main
                .home_l__box4__sub
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Ngôi nhà di động tiện nghi cải tạo từ xe buýt cũ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Sau khi mua được chiếc xe buýt GMC 1966 trên eBay, Jessie (người Mỹ) đã dành tất cả 3 năm...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Nam sinh viên tự tay trang trí căn hộ 18m2 ngăn nắp và tiện nghi
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Căn hộ 18m2 dưới đây là chốn đi về lý tưởng mà bạn trẻ nào cũng mơ ước. Chủ nhân căn hộ trẻ đã...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Hiên nhà thêm ngọt ngào, lãng mạn nhờ chiếc xích đu xinh xắn
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Xích đu không chỉ giúp không gian sân vườn hay hiên nhà thêm lãng mạn mà còn giúp mọi người...
                    .clearfix
                  //- end home_l__box4__item
                //- end home_l__box4__sub
                .clearfix
              //- end home_l__box4__content
              #knowlegde.home_l__box4__content
                .home_l__box4__main
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-1.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Kiến thức Ngôi nhà 23m2 nằm trên cây lấy ý tưởng thiết kế từ tổ chim
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Ngôi nhà trên cây nằm giữa khu rừng ở thành phố Raray (Pháp) cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ. Cách mặt đất 10m nhưng có đủ tiện nghi cơ bản dành cho hai người ngủ nghỉ ...
                    .clearfix
                //- end home_l__box4__main
                .home_l__box4__sub
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Ngôi nhà di động tiện nghi cải tạo từ xe buýt cũ
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Sau khi mua được chiếc xe buýt GMC 1966 trên eBay, Jessie (người Mỹ) đã dành tất cả 3 năm...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Nam sinh viên tự tay trang trí căn hộ 18m2 ngăn nắp và tiện nghi
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Căn hộ 18m2 dưới đây là chốn đi về lý tưởng mà bạn trẻ nào cũng mơ ước. Chủ nhân căn hộ trẻ đã...
                    .clearfix
                  //- end home_l__box4__item
                  .home_l__box4__item
                    .home_l__box4__item__thumbnail
                      a(href=""): img(src="images/t_news-2.jpg" alt="viad")
                    .home_l__box4__item__infor
                      h4: a(href="") Hiên nhà thêm ngọt ngào, lãng mạn nhờ chiếc xích đu xinh xắn
                      .date
                        i.fas.fa-calendar-alt
                        span 22/06/2069
                      p Xích đu không chỉ giúp không gian sân vườn hay hiên nhà thêm lãng mạn mà còn giúp mọi người...
                    .clearfix
                  //- end home_l__box4__item
                //- end home_l__box4__sub
                .clearfix
              //- end home_l__box4__content
              .wrap__more-view
                a.more-view(href="#")
                  |Xem thêm
                  i.fas.fa-angle-double-right
          //- end home_l__box4
        //- end home_l
        .home_r.fright
          .advs-company.general-section
            h2 Công ty quảng cáo
            .advs-company__content.general-section__content
              .advs-company__item
                .advs-company__item__img
                  a(href="#" title="Gem Riverside")
                  img(src="images/t_advs-company.jpg" alt="viad")
                a(href="#" title="Gem Riverside") Gem Riverside
              //- end advs-company__item
              .advs-company__item
                .advs-company__item__img
                  a(href="#" title="Stown Thủ Đức")
                  img(src="images/t_advs-company.jpg" alt="viad")
                a(href="#" title="Stown Thủ Đức") Stown Thủ Đức
              //- end advs-company__item
              .advs-company__item
                .advs-company__item__img
                  a(href="#" title="Khu đô thị Mega City 2")
                  img(src="images/t_advs-company.jpg" alt="viad")
                a(href="#" title="Khu đô thị Mega City 2") Khu đô thị Mega City 2
              //- end advs-company__item
              -for(i=0; i<5; i++)
                .advs-company__item
                .advs-company__item__img
                  a(href="#" title="Khu đô thị Mega City 2")
                  img(src="images/t_advs-company.jpg" alt="viad")
                a(href="#" title="Khu đô thị Mega City 2") Khu đô thị Mega City 3
                //- end advs-company__item
            //- end advs-company__content
          //- end advs-company
          .advs-sidebar
            a(href="#" title="quang cao")
              img(src="images/t_advs-sidebar.jpg" alt="viad")
            a(href="#" title="quang cao")
              img(src="images/t_advs-sidebar2.png" alt="viad")
            a(href="#" title="quang cao")
              img(src="images/t_advs-sidebar3.jpg" alt="viad")
          //- end advs-sidebar
          .utilities.general-section
            h2 Tiện ích
            .utilities__content.general-section__content
              .utilities__item
                img(src="images/t_utilities1.png" alt="viad")
                a(href="#" title="Tỉ giá ngoại tệ") Tỉ giá ngoại tệ
              .utilities__item
                img(src="images/t_utilities2.png" alt="viad")
                a(href="#" title="Xu hướng quảng cáo") Xu hướng quảng cáo
              .utilities__item
                img(src="images/t_utilities3.png" alt="viad")
                a(href="#" title="Xu hướng Marketing") Xu hướng Marketing
              .utilities__item
                img(src="images/t_utilities3.png" alt="viad")
                a(href="#" title="Thương mại điện tử") Thương mại điện tử
          //- end utilities
          .fb-fanpage Tương tác facebook. Cái này chưa code.
          //- end fb-fanpage
          .faq.general-section
            h2 Hỏi và đáp
            .faq__content.general-section__content
              ul.faq__list.general-list.list-inline
                li.general-item
                  a(href="#" title="Chuyển tin từ thường lên vip") Chuyển tin từ thường lên vip
                li.general-item
                  a(href="#" title="Tư vấn đặt biệt hiệu cho quảng cáo") Tư vấn đặt biệt hiệu cho quảng cáo
                li.general-item
                  a(href="#" title="Đặt biển hiệu quảng cáo có cần xem hướng?") Đặt biển hiệu quảng cáo có cần xem hướng?
              //- end faq__list
              form(action="" method="" name="faq-form" id="faq-form")
                label(for="faq-content") Gửi câu hỏi của bạn tại đây:
                textarea(name="faq-content" id="faq-content" placeholder="Bạn muốn hỏi gì?")
                button.btn1(type="submit" id="send-faq" title="Gửi câu hỏi") Gửi câu hỏi
          //- end faq
        //- end home_r