footer#footer
	#wrap-footer
		.container
			section.row#address__footer
				.col-20-percent
					h3 Quảng cáo tại Hà Nội
					ul
						li: a(href="#") Bắc Từ Liêm
						li: a(href="#") Đống Đa
						li: a(href="#") Hoàn Kiếm
						li: a(href="#") Cầu Giấy
						li: a(href="#") Nam Từ Liêm
						li: a(href="#") Hai Bà Trưng
						li: a(href="#") Hoàng Mai
						li: a(href="#") Đông Anh
						li: a(href="#") Hà Đông
						li: a(href="#") Đan Phượng
						li: a(href="#") Hoài Đức
						li: a(href="#") Sóc Sơn
				.col-20-percent
					h3 Quảng cáo tại TP HCM
					ul
						li: a(href="#") Quận 10
						li: a(href="#") Quận 7
						li: a(href="#") Quận 1
						li: a(href="#") Quận 2
						li: a(href="#") Phú Nhuận
						li: a(href="#") Quận 3
						li: a(href="#") Quận 4
						li: a(href="#") Quận 5
						li: a(href="#") Quận 6
						li: a(href="#") Tân Phú
						li: a(href="#") Thủ Đức
						li: a(href="#") Bình Chánh
				.col-20-percent
					h3 Quảng cáo tại Hải Phòng
					ul
						li: a(href="#") Hồng Bàng
						li: a(href="#") Thủy Nguyên
						li: a(href="#") Tiên Lãng
						li: a(href="#") Ngô Quyền
						li: a(href="#") Kiến An
						li: a(href="#") Lê Chân
						li: a(href="#") Đồ Sơn
						li: a(href="#") Cát Bà
						li: a(href="#") Hải An
				.col-20-percent
					h3 Quảng cáo tại Đà Nẵng
					ul
						li: a(href="#") Hồng Bàng
						li: a(href="#") Thủy Nguyên
						li: a(href="#") Tiên Lãng
						li: a(href="#") Ngô Quyền
						li: a(href="#") Kiến An
						li: a(href="#") Lê Chân
						li: a(href="#") Đồ Sơn
						li: a(href="#") Cát Bà
						li: a(href="#") Hải An
					h3 Quảng cáo tại Thanh Hóa
					ul
						li: a(href="#") Huyện Triệu Sơn
						li: a(href="#") Huyện Quảng Xương
					h3 Quảng cáo tại Khánh Hòa
					ul
						li: a(href="#") Khách sạn Bãi Dài
						li: a(href="#") Khách sạn Nha Trang 
				.col-20-percent
					h3 Quảng cáo tại Cần Thơ
					ul
						li: a(href="#") Quận Ninh Kiều
						li: a(href="#") Quận Bình Thủy
						li: a(href="#") Quận Phong Điền
						li: a(href="#") Quận Vĩnh Thạnh
						li: a(href="#") Quận Thới Lai
					h3 Quảng cáo tại Đồng Nai
					ul
						li: a(href="#") Khách sạn Hải Tuyền
						li: a(href="#") Quán cà phê
						li: a(href="#") Nhà Hàng Sơn Tùng
					h3 Quảng cáo tại Thái Bình
					ul
						li: a(href="#") Huyện Hưng Hà
			section#menu__footer
				nav
					ul
						li: a(href="#") Home
						li: a(href="#") Cho thuê quảng cáo
						li: a(href="#") Cần mua - cần thuê
						li: a(href="#") Thị trường
						li: a(href="#") Tin tức
						li.xuhuong__footer: a(href="#") Xu hướng
						li: a(href="#") Kiến thức
						li: a(href="#") Danh bạ
						li: a(href="#") Hỏi và đáp
						li: a(href="#") Về viad.com.vn
						li: a(href="#") Site map
		section#support__footer
			.container
				.row
					.col-3
						h3 Hỗ trợ khách hàng
						ul
							li: a(href="#") Quy định chính sách
							li: a(href="#") Điều khoản hoạt động
							li: a(href="#") Câu hỏi thường gặp
							li: a(href="#") Liên hệ trợ giúp
					.col-3
						h3 Về chúng tôi
						ul
							li: a(href="#") Giới thiệu
							li: a(href="#") Quy chế hoạt động
							li: a(href="#") Tuyển dụng
							li: a(href="#") Site map
					.col-3
						h3 Tin tức quảng cáo
						ul
							li: a(href="#") Báo giá dịch vụ
							li: a(href="#") Khuyến mại trên viad.com
							li: a(href="#") Tuyển dụng
							li: a(href="#") Site map
					.col-3
						h3 Liên hệ
						ul
							li
								span: img(src="images/k_icon-phone.png" alt="phone")
								span Hotline: 01695058406
							li
								span: img(src="images/k_icon-email.png" alt="phone")
								span Email: 3Fgroup@gmail.com
							li
								span: img(src="images/k_icon-skype.png" alt="phone")
								span Skype: Love Mouse
							li.mangxahoi
								span Mạng xã hội
								span: a(href="#"): img(src="images/k_icon_fb.png" alt="phone")
								span: a(href="#"):  img(src="images/k_gplus.png" alt="phone")
								span: a(href="#"):  img(src="images/k_icon_youtube.png" alt="phone")
		section#license
			h2 Công ty Cổ phần dịch vụ và thương mại Viad
			p Địa chỉ: Số 14, ngõ 165 Cầu Giấy, Hà Nội
			p Giấy phép ICP ../GP-STTTT do Sở Thông Tin và Truyền thông Hà Nội cấp giấy phép ngày 25 tháng 6 năm 2018
			p Chịu trách nhiệm nội dung: @ Ghi rõ nguồn "viad.com.vn" khi phát hành lại thông tin từ website này.
			img(src="images/k_dadangky.png" alt="dadangky")
		section#copyright
			p
				span Copyright © 2007 - 2018 viad.com.vn thiết kế bởi
				span.name__footer  3fgroup.vn