header#header
	#wrap-header
		section#contact-menu__header
			.container
				.social-network.fleft
						ul
							li.mangxahoi__header Mạng xã hội:
							li
								a(href="#"): img(src="images/k_icon_fb.png" alt="facebook")
							li
								a(href="#"): img(src="images/k_gplus.png" alt="google plus")
							li.youtube
								a(href="#"): img(src="images/k_icon_youtube.png" alt="youtube")
				.price-contact.fright
					nav
						ul
							li.active: a(href="#") Báo giá
							li: a(href="#") Liên hệ
							li: a(href="#") Giới thiệu
							li: a(href="dang-ky.html") Đăng ký
							li: a(href="dang-nhap.html") Đăng nhập
							li: a(href="#") English
				.clearfix
		.container
			section#name-image-company
				.row
					.col-2
						h2 Viad.com.vn
						p Kênh quảng cáo số 1 VN
					.col-10
						a(href="#"): img(src="images/k_banner-header.png" alt="Vial")
			section#menu__header
				nav
					ul.menu-level1
						li.icon-home: a(href="#"): img(src="images/k_icon-home.png" alt="Home")
						li.active.icon-dropdown
							a(href="#") Thuê Pano, biển quảng cáo
							ul.menu-level2.hire-pano
								li: a(href="#") Thuê pano trên nhà dân, công trình
								li: a(href="#") Thuê pano trên quốc lộ, tỉnh lộ
								li: a(href="#") Thuê pano trên đường phố
								li: a(href="#") Thuê pano nơi công cộng ngoài trời
								li: a(href="#") Thuê pano nơi công cộng trong nhà
								li: a(href="#") Thuê pano dán trên phương tiện
								li: a(href="#") Thuê pano quảng cáo khác
						li.icon-dropdown
							a(href="#") Quảng cáo truyền thông
							ul.menu-level2.advertise-media
								li: a(href="#") Thuê quảng cáo trên truyền hình
								li: a(href="#") Thuê quảng cáo trên phát thanh
								li: a(href="#") Thuê quảng cáo trên ấn phẩm
								li: a(href="#") Thuê quảng cáo truyền thông khác
						li.icon-dropdown
							a(href="#") Quảng cáo internet
							ul.menu-level2.advertise-internet
								li.icon-dropdown
									a(href="#") Quảng cáo trên facebook
									ul.menu-level2
										li: a(href="#") Thuê quảng cáo facebook Ads
										li: a(href="#") Thuê bài viết trên trang HOT
										li: a(href="#") Thuê bài viết trên trang cộng đồng
										li: a(href="#") Thuê bài viết trên trang cá nhân
										li: a(href="#") Thuê live stream
										li: a(href="#") Thuê quảng cáo trên facebook khác
								li.icon-dropdown
									a(href="#") Quảng cáo trên website
									ul.menu-level2
										li: a(href="#") Thuê vị trí logo, banner
										li: a(href="#") Thuê viết bài trên báo điện tử
										li: a(href="#") Thuê viết bài review
										li: a(href="#") Thuê quảng cáo trên website khác
								li.icon-dropdown
									a(href="#") Quảng cáo trên google
									ul.menu-level2
										li: a(href="#") Thuê quảng cáo google Ads
										li: a(href="#") Thuê quảng cáo trên google khác
								li.icon-dropdown
									a(href="#") Quảng cáo trên youtube
									ul.menu-level2
										li: a(href="#") Thuê quảng cáo google, youtube Ads
										li: a(href="#") Thuê  video kênh HOT
										li: a(href="#") Thuê  video kênh cá nhân
										li: a(href="#") Thuê  video kênh thông tin, giải trí
										li: a(href="#") Thuê video kênh văn hóa, xã hội
										li: a(href="#") Thuê video kênh game, công nghệ
										li: a(href="#") Thuê video kênh thể thao, du lịch
										li: a(href="#") Thuê video kênh khác
										li: a(href="#") Thuê chèn vào video
										li: a(href="#") Thuê live stream
								li.icon-dropdown
									a(href="#") Quảng cáo trên diễn đàn
									ul.menu-level2
										li: a(href="#") Thuê vị trí logo, banner
										li: a(href="#") Thuê mục đăng tin
										li: a(href="#") Thuê bài viết review
										li: a(href="#") Thuê bài viết định hướng
										li: a(href="#") Thuê quảng cáo khác trên diễn đàn
						li: a(href="#") Dịch vụ quảng cáo
						li: a(href="#") Cần quảng cáo
						li: a(href="#") Tài trợ
						li: a(href="#") Tin tức
						li: a(href="#") Danh bạ
			.menu-res-bars
				i.fas.fa-bars