// Mixins
include ../../components/doanhnghiep-right/doanhnghiep-right.pug
include ../../components/dn-content/dn-content.pug
include ../../components/formdangky/formdangky.pug
include ../../components/search/search.pug
