// Start: search

mixin search(textsearch, a,b,c,d,e,f,g,h,i,j,k)
  .hethong__search
    form(action="")
      .hethong__search--inner
        .select__top 
          select#select(name="" data-placeholder="place holder")
            option(selected value=textsearch)=textsearch
            option(value=a)= a
            option(value=b)= b
            option(value=c)= c
            option(value=d)= d
            option(value=e)= e
            option(value=f)= f
            option(value=g)= g
            option(value=h)= h
            option(value=i)= i
            option(value=j)= j
            option(value=k)= k
        button(type="submit") Tìm kiếm
        .clear-fix
      
// End: search
