#wrap-login{
	margin: 100px auto 60px;
	width: 570px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px 2px #dcd0d0a3;
	.content-login{
		padding: 0 100px;
		h2{
			margin: 50px 0 30px 0;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
		}
		input{
			float: right;
			border: 1px solid #bdb7b7f5;
			height: 33px;
			border-radius: 5px;
			padding: 0 10px;
		}
		label{
			font-weight: 600;
			font-size: 16px;
			// display: block;
    		// width: 100%;
		}
		.user__login, .password__login{
			position: relative;
			line-height: 35px;
			margin-bottom: 15px;
			img{
				position: absolute;
				right: 10px;
				bottom: 13px;
				cursor: pointer;
			}
		}
		button{
			height: 33px;
			border: 1px solid #ffe13f;
			border-radius: 24px;
			background: none;
			margin: 0 auto 15px;
			width: 120px;
			display: block;
			font-weight: 600;
			font-size: 14px;
		}
		p{
			text-align: center;
			margin: 15px 0;
			font-size: 14px;
		}
		.login-fb-gmail{
			a{
				display: inline-block;
				width: 45%;
				height: 35px;
				line-height: 35px;
				text-align: center;
				font-size: 12px;
				color: #fff;
				border-radius: 5px;
			}
			.fb{
				background: #3b559f;
				margin-right: 7px;
			}
			.gmail{
				float: right;
				background: #ea6464;
				margin-left: 7px;
			}
		}
	}
}
.remember-password{
	font-size: 14px;
	font-weight: 400;
	.remember{
		position: relative;
		width: 50%;
		padding-left: 30px;
		cursor: pointer;
		color: #888888;
		display: inline-block;
		input{
			position: absolute;
			left: 0;
			top: 4px;
			opacity: 0;
			cursor: pointer;
			height: 13px;
			z-index: 0;
		}
		span{
			position: absolute;
			height: 13px;
			width: 13px;
			border: 1px solid red;
			background: none;
			left: 0;
			top: 4px;
		}
		.choose{
			display: none;
			height: 15px;
		    width: 7px;
		    border: none;
		    border-right: 2px solid blue;
		    transform: rotate(45deg);
		    border-bottom: 2px solid blue;
		    left: 4px;
		    top: -1px;
		    z-index: 5;
		    &.active{
				display: block;
			}
		}
	}
}

// -----------> khong có tài khoản
.no-account{
	text-align: center;
	font-size: 14px;
	padding: 20px 0 50px 0;
	border-top: 1px solid #eadcdc;
	margin-top: 15px;
	p{
		margin: 0;
	}
	.reges-account{
		text-decoration: underline;
	}
}

// -----------> note - text
.note-text{
	& .container > p{
		padding: 0 15px 30px 15px;
		font-weight: 400;
		font-size: 14px;
		margin: 0;
	}
	h4{
		font-weight: 600;
		color: #000;
		font-size: 16px;
		margin: 0;
	}
	.wrap-text__note{
		& > p{
			padding: 30px 30px 20px 20px;
			font-size: 14px;
			color: #000;
			margin: 0 0 30px 0;
			background: #f3f3f3;
		}
	}
}
.send-email__reges{
	background: #ffe13f;
	margin-bottom: 30px;
	.email__sendemail, .add-email{
		width: 50%;
		padding: 0 20px;
		height: 80px;
		line-height: 80px;
		font-size: 16px;
		img{
			padding-right: 18px;
		}
		input{
			height: 48px;
			border: 1px solid #ccc;
			padding: 0 15px;
			border-radius: 25px;
			margin-right: 20px;
			width: 70%;
			font-size: 14px;
			letter-spacing: 0.5px;
		}
		button{
			border: 1px solid #ccc;
			width: 138px;
			line-height: 48px;
			height: 48px;
			background: #fff;
			font-size: 16px;
			font-weight: 600;
			color: #222222;
			border-radius: 25px;
		}
	}
}