// .address__footer
#address__footer{
	color: #222222;
	border-top: 1px solid #f3f3f3;
	padding: 30px 0;
	.col-2-percent{
		h3{
			// font-size: 15px;
			font-weight: 600;
		}
		li{
			font-size: 12px;
			padding-bottom: 10px;
		}
	}
}

// #menu__footer
#menu__footer{
	ul{ 
		overflow: hidden;
		border-top: 1px solid #f3f3f3;
	}
	li{
		float: left;
		a{
			display: block;
			height: 75px;
			line-height: 75px;
			font-weight: 600;
			padding: 0 16px;	
		}
	}
}

// #support__footer
#support__footer{
	padding: 30px 0;
	background: #f3f3f3;
	.col-3{
		margin-bottom: 15px;
		h3{
			margin: 0 0 20px;
			font-size: 14px;
		}
		li{
			padding-bottom: 15px;
			color: #666666;
			font-size: 12px;
		}
		img{
			padding-right: 10px;
		}
		.mangxahoi{
			img{
				padding-left: 20px;
				padding-right: 0;
			}
		}
	}
}

// #license
#license{
	position: relative;
	text-align: center;
	padding: 30px 15px;
	h2{
		margin: 0 0 25px;
		font-size: 15px;
		font-weight: 600;
	}
	img{
		position: absolute;
		right: 30px;
		bottom: 80px;
	}
	p{
		margin: 0 0 10px;
		font-weight: 400;
		font-size: 12px;
	}
}
// #copyright
#copyright{
	background: #222222;
	text-align: center;
	color: #fff;
	p{
		padding: 20px 0;
		margin: 0;
	}
	.name__footer{
		color: #ccc;
	}
}