// --------------> contact-menu-header
#wrap-header>.container {
    position: relative;
}

// mang xa hoi
#contact-menu__header {
    background: #f3f3f3;
}

.social-network {
    li {
        display: inline-block;
        color: #888888;
        margin-right: 15px;
        font-size: 14px;
        a {
            display: block;
            height: 45px;
            line-height: 45px;
        }
        &.youtube {
            margin-right: 0;
        }
    }
}

// contact menu
.price-contact {
    li {
        display: inline-block;
        margin-left: 30px;
        color: #797979;
        a {
            display: block;
            height: 45px;
            line-height: 45px;
            font-weight: 400px;
            font-size: 14px;
        }
        &.active {
            margin-left: 0;
        }
    }
}
// --------------> name company
#name-image-company {
    .col-2 {
        text-align: center;
        h2 {
            margin: 50px 0 0px 0;
            font-weight: bold;
            // font-size: 9.45pt;
        }
        p {
            margin: 0;
            font-weight: 600;
            // font-size: 5.12pt;
        }
    }
    .col-10 {
        img {
            width: 100%;
        }
    }
}

// ----------------> menu__header
#menu__header{
	.menu-level1{
		height: 50px;
		li{
			position: relative;
			float: left;
			background: #ffe13f;
			padding: 0 17px;
			transition: 0.5s;
			a{
				display: block;
				height: 50px;
				line-height: 50px;
				font-weight: 600;
				font-size: 14px;
			}
			&.active{
				background: #e5c516;
			}
			&.icon-home{
				padding: 0 17px;
			}
			&:hover > .menu-level2{
				display: block;
			}
		}
	}
	.menu-level2{
		position: absolute;
		display: none;
		top: 50px;
		left: 0;
		z-index: 5;
		li{
			position: relative;
			display: block;
			width: 100%;
			&:hover{
				background: #e5c516;
				.menu-level2{
					display: block;
				}
			}
		}
		.menu-level2{
			position: absolute;
			display: none;
			top: 0;
			left: 100%;
			width: 260px;
			z-index: 5;
			li{
				width: 280px;
				display: block;
				padding: 0 15px;
			}
		}
	}
	.hire-pano{
		width: 270px;
	}
	.advertise{
		&-media{
			width: 270px;
		}
		&-internet{
			width: 210px;
		}
	}
}

.menu-res-bars {
    position: absolute;
    display: none;
    bottom: 10px;
    right: 20px;
    font-size: 30px;
    color: #222;
}
.icon-dropdown:before, .icon-dropdown2:before{
	content: "";
	position: absolute;
	display: none;
	border-right: 2px solid red;
	border-bottom: 2px solid red;
	height: 7px;
	width: 7px;
	right: 10px;
	top: 19px;
	transform: rotate(45deg);
	transition: 0.5s;
}

.icon-dropdown:before,
.icon-dropdown2:before {
    content: "";
    position: absolute;
    display: none;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    height: 7px;
    width: 7px;
    right: 10px;
    top: 19px;
    transform: rotate(45deg);
    transition: 0.5s;
}

.icon-dropdown.active-click:before,
.icon-dropdown2.active-click:before {
    transform: rotate(225deg);
}