include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
      title=base.title
      meta(charset="utf-8")
      meta(name="description" content=base.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
      meta(name="keywords", content=base.keywords)
      meta(name="author", content=base.author)
      // Styles
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.theme.default.min.css")
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.carousel.min.css")
      link(rel="stylesheet", type="text/css" href="libs/choosen/chosen.min.css")
      link(rel="stylesheet", type="text/css" href="libs/jquery-custom-scrollbar/jquery.mCustomScrollbar.css")
      block csslibs
      link(rel="stylesheet" type="text/css" href="style.css")
  body
    #wrapper
      include ../_partials/header.pug
      block content
      include ../_partials/footer.pug
    //#wrapper
    // link jq
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //JS
    script(src="libs/jQuery/jquery.min.js")
    script(src="libs/choosen/chosen.jquery.min.js")
    script(src="libs/owlCarousel/owl.carousel.min.js")
    //JS - jQueryCustomScrollbar
    script(src="libs/jquery-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js")
    // link validate form
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript")
    block scriptlibs
    script(src="js/Services.js")
    script(src="js/script.js")

