.doanhnghiep {
    &__mixin--right {
        .title-email {
            margin: 0;
            padding: 30px 0 20px 0;
            font-weight: 600;
            font-size: 14px;
            color: #000;
            text-align: center;
            i {
                font-size: unset;
                padding-right: 10px;
            }
        }
        input {
            padding: 10px 15px;
            font-size: 12px;
            color: #888;
            font-weight: 400;
            outline: transparent;
            border: 1px solid #eee;
            width: 100%;
        }
        button {
            padding: 10px 25px;
            color: #000;
            font-weight: 600;
            outline: transparent;
            border: none;
            border-radius: 50px;
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }
    &__qc {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    &__hoidap {
        margin-bottom: 30px;
        &--title {
            padding: 15px 0;
            text-align: center;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        &--content {
            padding: 30px 15px;
            border: 1px solid #eee;
            border-top: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            padding-bottom: 15px;
            &:last-child {
                padding: 0;
            }
            a {
                display: flex;
                width: 100%;
                &:hover {
                    .dots {
                        background: #ffe13f;
                    }
                }
            }
        }
        .dots {
            width: 10px;
            height: 10px;
            border: 1px solid #ffe13f;
            border-radius: 50%;
            transition: all 0.3s linear;
            margin-top: 5px;
        }
        span {
            font-size: 14px;
            font-weight: 400;
            color: #000;
            padding-left: 20px;
        }
    }
    &__box {
        margin-bottom: 25px;
    }
    .fanpage {
        width: 100%;
        height: 210px;
        background: #888;
    }
}