mixin doanhnghiep-right()
  .doanhnghiep__mixin--right
    p.title-email 
      i.far.fa-envelop
      | Nhận bản tin từ viad.com.vn
    form(action="")
      input(type="email" name="" placeholder="Nhập email của bạn" request="true")
      button.bg-yellow(type="submit") Đăng ký
    .doanhnghiep__qc
      a(href="") 
        img(src="images/doanhnghiep_qc.png" alt="quang cao")
    .doanhnghiep__qc
      a(href="") 
        img(src="images/doanhnghiep_qc.png" alt="quang cao")
    .doanhnghiep__hoidap
      .doanhnghiep__hoidap--title.bg-yellow Quảng cáo được quan tâm
      .doanhnghiep__hoidap--content
        ul
          li
            a(href="#") 
              .dots
              span Chuyển tin từ thường lên vip
          li
            a(href="#") 
              .dots
              span Tư vấn đặt biệt hiệu quảng cáo
          li
            a(href="#") 
              .dots
              span Đặt biệt hiệu quảng cáo có cần xem hướng?
          li
            a(href="#") 
              .dots
              span Quảng cáo đang hot nhất
          li
            a(href="#") 
              .dots
              span Quảng cáo thế nào mới đúng
          li
            a(href="#") 
              .dots
              span Đặt biệt hiệu quảng cáo có cần xem hướng?
    .doanhnghiep__tienich.doanhnghiep__hoidap
      .doanhnghiep__hoidap--title.bg-yellow Tiện ích
      .doanhnghiep__hoidap--content
        ul
          li
            a(href="#") 
              .icons
                img(src="images/t_utilities1.png", alt="")
              span Tỉ giá ngoại tệ
          li
            a(href="#") 
              .icons
                img(src="images/t_utilities2.png", alt="")
              span Xu hướng quảng cáo
          li
            a(href="#") 
              .icons
                img(src="images/t_utilities3.png", alt="")
              span Xu hướng Marketing
          li
            a(href="#") 
              .icons
                img(src="images/t_utilities3.png", alt="")
              span Thương mại điện tử
    .fanpage 	
					
//.doanhnghiep-right-wrap
